@import url("./reset.css");

body > section {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	padding: 0 3rem;
	padding-top: 2rem;
}

.menu {
	display: flex;
	flex-direction: row;
	height: 3.5rem;
	justify-content: space-between;
	padding: 0 1.5rem;
}

.menu > section {
	display: flex;
	flex-direction: row;
}

.menu figure {
	display: flex;
	align-items: center;
}

.menu-left {
	width: 9.125rem;
	justify-content: space-between;
	gap: 2rem;
}

.search-bar {
	display: flex;
	align-items: center;
  }

.search-input {
	width: 21.75rem;
	height: 2.5rem;
  }
  
  .search-input input {
	width: 100%;
	height: 100%;
	padding: 0 0.625rem; 
	font-size: 0.875rem;
	border: 0.0625rem solid #cccccc83;
  }
  
  .search-button {
	width: 3.5625rem;
	height: 2.5rem;
	background: #F8F8F8; 
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.0625rem solid #cccccc83;
	cursor: pointer;
  }
  
  .search-button button {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  }

.menu-right {
	gap: 1.5rem;
}

.profile-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-image figure {
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 50%;
	overflow: hidden;
}

.profile-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.watching-video {
	padding: 0 2rem;
	width: 100%;
}

.video-player img {
	width: 100%;
	height: 100%;
}

.video-player {
	margin-bottom: 1rem;
}

.video-player figure {
	margin-bottom: 1rem;
}

.video-actions {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	gap: 1rem;
}

.channel-info {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.video-actions + p {
	margin-bottom: 1rem;
	font-weight: bold;
}

.subscribe-button {
	width: 9.9375rem;
	height: 2.5rem;
	background: #CC0000;
	cursor: pointer;
	border-radius: 0.1875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2.625rem;
  }

.subscribe-button button{
	background: transparent;
	border: none;
	color: #F8F8F8;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
  }
		
.interactive-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
	gap: 2.625rem;
}

.interactive-buttons button {
	background: transparent;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 0.875rem;
	font-weight: bold;
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
}

.side-menu {
	display: flex;
	flex-direction: column;
	padding-right: 2rem;
	gap: 1rem;
}

.related-video {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.thumb-video figure {
	display: flex;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.details p {
	font-size: 0.75rem;
}
